qiskit[visualization]
qiskit-nature
qiskit-machine-learning
qiskit-optimization
sympy
matplotlib
numpy
scipy
pandas
qutip
seaborn
scienceplots
git+https://github.com/qiskit-community/qiskit-textbook.git#subdirectory=qiskit-textbook-src